<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.foodbuzz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeBase" />
        <activity
            android:name=".Activities.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppThemeBase" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.RegisterActivity" />
        <activity
            android:name=".Activities.DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppThemeBase" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppThemeBase" />
        <activity
            android:name=".Activities.FavActivity"
            android:label="@string/title_activity_fav"
            android:theme="@style/AppThemeBase" />
        <activity android:name=".Activities.PaymentActivity"></activity>

        <service
            android:name=".data.WidgetAdapter"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:icon="@drawable/food"
            android:label="Example Widget"
            android:name=".data.FavWidget" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>

</manifest>